table {
  width: 50%;
  border-collapse: collapse;
}

table, td, tr {
    border: 0px solid black;
  } 
td {
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
th {
    text-align: center;
    border-bottom: 1px solid #ddd;
}
